/* Created by: Johanna Liu
 * Created on: Feb 2022
 * This CSS file defines the style for index2.html ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: blanchedalmond;
}

h1 {
  background-color: rgb(210, 105, 30);
  color: hsl(0, 0%, 0%);
  padding: 40px;
  text-align: center;
}

p {
  background-color: #f5deb3;
}

ul {
  color: black;
}

ul li::before {
  content: "✅";
}

table {
  border: solid thin;
}

th {
  height: 2rem;
  background: sandybrown;
  border: 1px solid white;
  text-align: left;
}

td {
  height: 2rem;
  background: burlywood;
  border: 1px solid black;
  text-align: center;
}
