/* Created by: Johanna Liu 
 * Created on: Feb 2022 
 * This CSS file defines the style for index.html ICS2O-Unit1-04-HTML-CSS
*/

body 
{
  background-color: azure;
}

h1 {
      background-color: rgb(179, 245, 236);
      color: hsl(210, 69%, 20%);
      padding: 40px;
      text-align: center;
    }
p{
  background-color:#D3D3D3
}